body{
    background-color: hsl(0, 0%, 95%);
}

@media screen and (min-width: 451px){
    .page{
        display: flex;
        color: hsla(0, 0%, 100%, 0.75);
        font-family: 'Montserrat', sans-serif;
        width: 750px;
        margin: auto;
        margin-top: 100px;
    }

    svg{
        margin-bottom: 10px;
    }

    .same{
        height: 400px;
        padding: 0 25px;
        padding-top: 30px;
        padding-bottom: 20px;
        font-weight: bolder;
        line-height: 23px;
    }

    button{
        margin-top: 50px;
    }
    
    #one{
       background-color: hsl(31, 77%, 52%);
    }

    h1{
      font-family: 'Big Shoulders Display', cursive;
      color: hsl(0, 0%, 95%);
      font-size: 50px;
    }

    p{
        font-size: 15px;
    }

    #two{
      background-color: hsl(184, 100%, 22%);
    }

    #three{
      background-color: hsl(179, 100%, 13%);
    }


    button{
      height: 40px;
      width: 150px;
      border-radius: 25px;
      border: 0px;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
      background-color: hsl(0, 0%, 95%); 
      cursor: pointer;
    }

    #one button:hover, #two button:hover, #three button:hover{
      background-color: transparent;
      color: white;
      border: 2px solid white;
    }

    #one button{
      color: hsl(31, 77%, 52%);   
    }

    #two button{
      color: hsl(184, 100%, 22%);
    }

    #three button{
      color: hsl(179, 100%, 13%);
    }
}

@media screen and (max-width: 450px){
.page{
    width: 200px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    display: block;
}

.same{
    height: 250px;
    padding: 0 25px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 10px;
    font-weight: bolder;
    line-height: 20px;
}

#one{
    background-color: hsl(31, 77%, 52%);
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

#two{
    background-color: hsl(184, 100%, 22%);
}

#three{
    background-color: hsl(179, 100%, 13%);
}


button{
    height: 40px;
    width: 100px;
    border-radius: 25px;
    border: 0px;
    font-size: 10px;
    background-color: hsl(0, 0%, 95%);
    cursor: pointer
}

#one button:hover, #two button:hover, #three button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#one button{
    color: hsl(31, 77%, 52%);   
}

#two button{
    color: hsl(184, 100%, 22%);
}

#three button{
    color: hsl(179, 100%, 13%);
}
}
